* {
    padding: 0;
    margin: 0;
}

html {
    background-image: url("../images/tree.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    text-align:center;
    color: white;
    font-size: 7vh;
}

h2 {
    text-align:center;
    color: white;
    text-decoration: underline;
    font-size: 6vh;
}

p {
    text-align:center;
    color: white;
    font-size: 4vh;
    
}

div {
    margin-top: 3vh;
    width: 70%;
    margin-left: 15%;
    text-align:center;
    color: white;
    height: 8vh;
    padding-top:4vh;
    font-size: 4vh;
    display: none;
    background-color:  rgb(158, 120, 23);
}

#start {
    display: inline-block;
    background-color: blue;
    border: .1vw solid  rgb(158, 120, 23);
}

#Answer0:hover, 
#Answer1:hover, 
#Answer2:hover, 
#Answer3:hover {
    opacity: 0.5;
}


#timer {
    background-color: blue;
    border: .1vw solid  rgb(158, 120, 23)
}

#scoreboard {
    background-color: blue;
    border: .1vw solid  rgb(158, 120, 23);
    display: inline-block;
    margin-top: 3vh;
    width: 70%;
    margin-left: 15%;
    text-align:center;
    color: white;
    height: 40vh;
    padding-top:4vh;
    font-size: 4vh;
}

#loading {
    text-align: center;
}

#picture {
    float: left;
    clear: both;
    width: 20vw;
    height: 25vh;
    margin-left: 15vw;
    margin-right: 2vw;
}

#highScore,
#score,
#missed {
    text-align: left;
}

img {
    display: none;
}